@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropzone/dropzone";
@import "jquery.minicolors";
@import "jquery-ui";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/tabs";

.dz-details {
  display: none;  
}

.dz-progress {
  display: none;  
}
.container {
  width: 85%;
}

/*

.dz-error-message {
  display: none;  
}
.dz-success-mark {
  display: none;  
}
.dz-error-mark {
  display: none;  
}
.dz-image {
  display: inline-block;
}
.dz-preview {
  display: inline-block;
}
*/
/*
 *= require jquery-ui
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/tabs
 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require image-picker
 *= require jquery.minicolors
 *= require_tree .
 *= require_self
 */
