// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.option_values {
  overflow: hidden;
  white-space: nowrap;
}
.product_options > div > p {
  overflow: hidden;
  white-space: nowrap;
}

.variant-info.row {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}
.products_table .col-md-2:first-child {
  margin-bottom: 30px !important;
}
