<div class="row">
    <div class="col-md-4 col-lg-4">
      <%= link_to three_sixty_image.title.nil? ? "placeholder" : three_sixty_image.title, edit_three_sixty_image_url(:protocol => 'https', :id => three_sixty_image.id) %>
    </div>
    
    <div class="col-md-4 col-lg-4 text-center">
      <%= link_to 'Delete', three_sixty_image_url(three_sixty_image.id, :protocol => 'https'), 
                            { :method => :delete, class: "btn btn-danger",
                            data: { confirm: 'Are you sure, you want to delete this 3D image?' } } %>      
    </div>
</div>