<%= form_tag(new_product_path, method: "post") do %>

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= text_field_tag :title %>
  </div>

  <div class="col-md-2">
      <%= submit_tag "Save", :class => "btn btn-success" %>
  </div>

</div>

<% end %>