<%= form_tag("/products/new", method: "post") do %>

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= f.text_field :name, class: "form-control", placeholder: "ENTER TEXT HERE" %>
  </div>

  <div class="col-md-2">
      <%= f.submit "Save", class: "btn btn-success", style: "width: 80%;"%>
  </div>

</div>

<% end %>